<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <appSettings> <!--can maintain global variable values. eg in asset management 
  the approve reject sendagain etc-->
    <add key="Pending" value="0"/>
    <add key="Delivered" value="1"/>
    <add key="Sendback" value="2"/>   
  </appSettings>

  <connectionStrings>
    <add name="CSCDBConnection" connectionString="Data Source=CSCINDAE745733;Initial Catalog=AssetManagement;Integrated Security=True"/>
    <add name="NorthwindConnection" connectionString="Data Source=CSCINDAE745733;Initial Catalog=Northwind;Integrated Security=True"/>
  </connectionStrings>
  
  
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>