<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AssetManagementProject.Properties.Settings.AssetManagementProjectConnectionString"
            connectionString="Data Source=CSCINDAE746239;Initial Catalog=AssetManagementProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AssetManagementProject.Properties.Settings.AssetManagementProjectConnectionString1"
            connectionString="Data Source=Karthik;Initial Catalog=AssetManagementProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>